.left_side{background:white;width:30%;height:px;float:left}
.right_main{background:white;margin-left:2%;width:68%;height:px;float:left}
.left_list_top{height:30px;background-color: #006835}
.left_list_top p{font-size:1.3em;color:white;padding-left:5px;padding:2px auto}
ul.service_list{padding-left:5%;width:90%}
ul.hospital_list{padding-left:16%;width:90%;padding-top:10px}
ul.hospital_list li{float:left;width:30%;line-height:30px}
td.table{
padding: 6px 10px;
border: 1px solid #006835;
border: 1px solid #006835;
}