.left_side {
	background: white;
	width: 30%;
	height: px;
	float: left;
	border: 1px solid #006835;;
	border-right: 1px solid #006835
}

.right_main {
	background: white;
	margin-left: 2%;
	width:  67.49999999999999999999999%;
	height: px;
	float: left;
	border: 1px solid #006835;;
	border-right: 1px solid #006835
}

.left_list_top {
	height: 30px;
	background-color: #006835;
}

.left_list_top p {
	font-size: 1.3em;
	color: white;
	padding-left: 5px;
	padding: 2px auto;
}

ul.service_list {
	padding-left: 0%;
	width: 100%;
}

ul.service_list li {
	width: 95%;
	padding-left: 2.5%
}

ul.hospital_list {
	padding-left: 16%;
	width: 90%;
	padding-top: 10px
}

ul.hospital_list li {
	float: left;
	width: 30%;
	line-height: 30px
}

td.table {
	padding: 6px 10px;
	border: 1px solid #006835;
	border: 1px solid #006835;
	font-size: 0.6em;
	font-weight: normal;
	line-height: 15px;
	font-family: Verdana, Arial, '宋体';
}

td.top_table {
	background: #006835;
	color: white;
}

.service_list li img {
	width: 10%;
	float: left;
	padding-top: 5px;
}

.service_list li p {
	float: left;
	width: 90%
}

.hospital_list li a {
	color: black
}

.hospital_list li a:hover {
	color: #006835
}

.money_info {
	height: 30px;
	border: 1px solid #006835;
	background: #006835
}

.money_info li {text-align: center;
	float: left;
	width: 30%;
	color: white;
	margin-left: 3%
}

.money_info li a {
	color: white
}

.money_info li a:active {
	color: #006835
}

.money_info_content ul {
	padding-left: 30px
}

.money_info_content ul li {
	list-style-type: decimal;
	width: 90%;
}

.left_list_money {
	width: 95%;
	margin-left: 2.5%;
	border-bottom: 1px solid #006835
}

.left_list_money p {
	color: #006835;
	font-weight: bold
}

#m4_title {
	font-size: 20px
}

.m4 h2 {
	font-size: 20px;
	margin-top: 10px
}

.ps {
	width: 30%;
	float:left;
	border:1px solid #006835
}
.ps h2{
	color: #006835;
	
}
.ps_right h2{
	color: #006835;
	
}
.ps_right{
	width:66%;
	float:left;
	margin-left:2%;
	border:1px solid #006835
}
.ps,.ps_right{margin-top:30px}
.ps_right_list{width:30%;float:left;text-align:center;margin-left:2%}
.ps_right_content{margin-bottom:20px}
.ps_right_list a:hover{ text-decoration: underline;color:#006835}
.ps_right_content h1{color:black;font-weight:bold;line-height: 16px}
.ps_right_content h2{color:grey;font-size:1em;line-height: 15px;margin-top: 0px}
.ps_right_content h3{color:red;font-size:1em;line-height: 25px}
.ps_right_content h4{color:black;font-size:0.6em;line-height: 4px}
.ps_right_content h5{}