@charset "utf-8";
.navbox {
	margin-left:0px;
	position:relative;
	width:25%;
float: left;
}
.navbox .mask {
	position:absolute;
	top:30px;
	left:-190px;
}
.navbox h2 {
	color:#01a5ca;
	margin:0 0 0 13px;
	height:40px;
	font-size:14px;
}
/* sliderNav */
#sliderNav {
	font-size:14px;
	margin:0px 0 0 0;
}
#sliderNav li.sliderTag h3, #sliderNav li.sliderTag a {
	display:block;
	width:180px;
	padding:5px 18px;
	margin:0 0 5px 0;
}
#sliderNav li.sliderTag h3 {
	color:#000;
	background:#eee;
	font-weight:normal;
	font-size:14px;
}
#sliderNav li.sliderTag a {
	color:#292929;
	background:White;
	
	text-decoration:none;
}
#sliderNav li.sliderTag a:hover {
	color:#01a5ca;
}
/* 代码整理：懒人之家 lanrenzhijia.com */