@charset "utf-8";
/* slider_box */
.slider_box{width:640px;margin:-20px 10px;height:245px;overflow:hidden;position:relative;border: 2px solid #006835;}
.silder_con{height:210px;overflow:hidden;position:absolute;}
.silder_panel{width:640px;height:210px;overflow:hidden;float:left;position:relative;}
.silder_panel img{width:640px;height:210px;display:block;overflow:hidden;}
.silder_nav{width:960px;height:35px;margin:0px auto;bottom:0px;position:absolute;overflow:hidden;}
.silder_nav li{float:left;width:160px;height:50px;font-size:14px;text-align:center;padding:0px;margin-right:1px;background:url(../images/homeBannerDdBgThis.png);line-height:35px;font-family:'微软雅黑';}
.silder_nav li a{ color:#000;}
.silder_nav li.current{ background:url(../images/homeBannerDdBg.png);}
.slider_box a.prev,.slider_box a.next{display:block;width:22px;height:100px;overflow:hidden;text-indent:-999px;position:absolute;cursor:pointer;margin:-35px 0 0 0;background:url(../images/silder_btn.gif) no-repeat;}	
.slider_box a.prev{left:0;background-position:left 0;}
.slider_box a.next{right:0;background-position:right 0;}