@charset "utf-8";


.color_6e ,.color_6e a{ color:#6E6E6E;}
.display_no{display:none;}
.display_yes{display:block;}
.layout{ width:100%; margin:0 auto}
.fl{ float: left;}
.fr{ float: right;}



.hs_banner{  overflow:hidden; height:398px; margin: 0 auto; width:100%; background:#72daa9}
.banner_box{ position:relative; z-index:1}
.bg_box{ position:absolute; background:url("http://www.cstrong.cn/Content/images/bdbg2.png") repeat-x; height:10px; width:1000px; left:0; bottom:6px;z-index:9999;*bottom:0px;_bottom:-6px;}
.text{text-align: left;top: 200px;left: 10px;position: absolute;z-index: 3;}
.text h4 {color: #2A2A2A;font: 20px/28px "微软雅黑", "黑体";}
.text h4 font {margin-right: 5px;letter-spacing: 2px;color: #1380C5;}
.text .start {display: block;width: 273px;height: 73px;margin: 30px 0 0 20px;background: url("http://www.cstrong.cn/Content/images/fl.png") no-repeat;}
 .v_main1{ overflow:hidden;padding-top:10px; background:#fff;}
 .v_box1{ width:1000px; overflow:hidden; margin-top:10px;}
.v_box1_l{ float:left; overflow:hidden; width:300px; padding-left:15px;}
.v_box1 span{ display:block;}
.v_box1_r{ float:right; overflow:hidden; padding-right:0px;}
.V_span1{ font-family:"微软雅黑"; color:#434343; font-size:14px; padding-top:20px; padding-bottom:45px; overflow:hidden;}
.v_box2{ width:700px; overflow:hidden; margin-top:10px;}
.v_box2_title{ width:700px; overflow:hidden;}
.v_box2_con{ width:700px; overflow:hidden; margin-top:20px;}
.v_box2_con_l{ float:left; overflow:hidden; padding-left:0px;}
.v_box2_con_r{ float:right; overflow:hidden; margin-right:15px; width:400px;}
.v_box2_con_r span{ display:block; padding-bottom:23px;} 
.v_box2_con_r span b{ display:block; padding-bottom:10px;} 

.v_box2_con_r_0{ float:right; overflow:hidden; margin-right:60px; width:228px;}
.v_box2_con_r_0 span{ display:block; padding-bottom:23px; margin-top:50px; line-height:30px;} 
.v_box2_con_r_0 span b{ display:block; padding-bottom:10px;} 


.v_box2_con1{ background:url("/showing_files/v_new_bg_03.jpg") no-repeat; height:434px; overflow:hidden; position:relative;}
.v_box2_con2{ background:url("http://www.cstrong.cn/Content/images/v_new_bg_06.jpg") no-repeat; height:462px; overflow:hidden; position:relative;}
.vyoushi_con{ position:absolute; left:570px; top:55px;}
.vyoushi_con span{ display:block;font-family:"微软雅黑"; color:#434343; width:380px; font-size:14px; line-height:20px; overflow:hidden;} 
.vyoushi1_con{ position:absolute; left:120px; overflow:hidden; top:80px;}
.vyoushi1_con span{ display:block;font-family:"微软雅黑"; color:#434343; width:380px; font-size:14px; line-height:20px; overflow:hidden;} 
.v_btn1{ position:absolute; overflow:hidden; bottom:42px; left:400px; }
.v_ljgd{ background:url("http://www.cstrong.cn/Content/images/V_index_30.jpg") no-repeat center bottom; margin-top:20px; width:1000px; overflow:hidden; text-align:center; font-size:14px; height:33px; padding-top:3px;}
.v_ljgd a{ text-decoration:none;}
.box3{ background:url("http://www.cstrong.cn/Content/images/box3_bg.jpg") repeat; padding-top:35px; overflow:hidden; height:275px; margin-top:15px;}
.box3_c{ margin: 0 auto; overflow:hidden; width:1000px;}
.box3_l{ float:left; overflow:hidden;}
.box3_m{ float:left; overflow:hidden; margin-left:5px; background:url("http://www.cstrong.cn/Content/images/v_box3_06.png") no-repeat; width:692px; height:242px;}
.box3_r{ float:left; overflow:hidden; margin-left:5px; background:url("http://www.cstrong.cn/Content/images/v_box3_08.png") no-repeat; width:220px; height:242px;}
.box3_title{ padding-top:10px; width:650px; padding-left:30px;}
.box3_con{ width:680px; padding-left:12px; overflow:hidden;}
.box3_con ul li{ float:left; overflow:hidden; margin-left:20px; margin-right:10px; width:140px;} 
.box3_con ul li em{ float:left; padding-left:15px; background:url("http://www.cstrong.cn/Content/images/v_box3_20.jpg") no-repeat 2px 8px;}
.box3_em1{ float:right; overflow:hidden; line-height:40px;}
.box3_r_con{ float:left; overflow:hidden; width:180px; padding-left:20px; padding-right:20px; padding-top:50px;}
.box3_r_con ul li{ overflow:hidden; line-height:25px; border-bottom:1px dotted #CCC; background:url("http://www.cstrong.cn/Content/images/kdt_in1_50.jpg") no-repeat 3px 10px; padding-left:15px;}



.title_pic {line-height: 35PX;display: block;color: #ec7400;font-size: 24px;height: 35px;font-weight: bold;font-family: Microsoft YaHei;text-align: left;padding-top: 30px;}

.list_carousel {position:relative;width: 960px;margin:10px auto;}
.caroufredsel_wrapper{width:960px!important;}
.list_carousel ul {margin: 0;padding: 0;list-style: none;display: block;}
.list_carousel li {font-size: 40px;color: #999;text-align: center;width: 240px;height:280px;padding: 0;display: block;float: left;}
.list_carousel li a{display:block;width:160px;margin:auto;position:relative;box-shadow:0 10px 5px rgba(0,0,0,.3); border-top:1px solid #ececec; border-radius:5px 5px 0 0; _background:url("http://www.cstrong.cn/Content/images/case-bg.png") 0 bottom no-repeat;}
.list_carousel li a:after{position:absolute;bottom:-29px;left:0;overflow:hidden;background:#f7f7f7;width:100%;height:15px;content:'';border-radius:50%;box-shadow:0 -10px 3px #f7f7f7;}
.list_carousel li img{width:150px;height:230px;margin:5px auto; display:inline;}
.list_carousel.responsive {width: auto;margin-left: 0;}
.prev, .next{display:inline-block;width:28px;height:50px;position:absolute;	top:50%;margin-top:-50px;z-index:100;background:url("http://www.cstrong.cn/Content/images/weimob.png") no-repeat 0 center;left:-20px;}
.prev{background-position:0 -305px;}
.next {left:auto;right:-20px;background-position:-30px -305px;}
a.buy {color:red;font-weight:bold;font-size:1.2em}

.after:after,li:after,#bd:after,#ft:after { content:" ";display:block;height:0;clear:both;visibility:hidden;}
.after,li,#bd,#ft { zoom:1;}



#bd,#hd { width:700px;margin:0 auto;}
#bd { padding-bottom:40px;width: 98%;
margin: 0 auto;margin-top:10px}

a { color:black;text-decoration:none;}
a:hover { text-decoration:underline;}

#hd { width: 994px; margin:0 auto 30px; }
#hd .logo { display: block; float: left;width:190px;height:70px;cursor:pointer;background:url(/images/new/logo.png);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/logo.png" ,sizingMethod="noscale");_background:none;}
#hd .logo_box { height: 70px; padding: 16px 0; }
#hd .tools { float: right; font-size: 14px; }
#hd .tools a { color: #7d7d7d; }
#hd .tools .tel { padding-left: 20px; }
#hd .tools .t { float:right;clear:both;}
#hd .tools .b { border: solid 1px #006835; float: right; margin-top: 16px; clear:both;height:27px;overflow:hidden;}
#hd .tools .text { border-right: 0; border: solid 1px #bae5fe; vertical-align: top; height: 25px; line-height: 25px; border-right: 0; outline: none; width: 146px; padding: 0 6px; color: #006835; _border:0;}
#hd .tools .btn { width: 64px; text-align: center; height: 27px; vertical-align: top; border: solid 1px #579ecc; border-left: 0; cursor: pointer; outline: none; background: #006835 url(/images/new/hf_bg.png) center no-repeat;_border:0; }
#hd .nav { background: #006835; height: 46px; line-height: 46px; overflow: hidden; width:994px;}
#hd .nav ul { width: 1100px; }
#hd .nav li { float: left; padding: 0 31px 0 32px; }
#hd .nav li a { color: #fff; font-size: 15px; padding: 2px 0; line-height: 42px; }
#hd .nav li a:hover { text-decoration: none; }
#hd .nav .on, #hd .nav .hover { background: #006835; }
#hd .nav .on a { border-bottom: solid 1px #fff; }

#ft { border-top: 1px solid #e1e1e1; padding: 15px 0 40px; font-size: 13px; line-height: 22px;}
#ft ul { width:994px;margin:0 auto; }
#ft .intro,
#ft .contact-info { margin-bottom: 10px; }
#ft .contact-info { line-height: 18px; padding: 6px 0 8px; }
#ft,
#ft a { color: #707070; }
#ft .title { font-size: 18px; margin-bottom: 20px; color: #313131; }
#ft li { float: left; width: 165px; }
#ft .about-us { width: 480px; }
#ft .follow-us .other { height: 46px; }
#ft .follow-us .qweibo,
#ft .follow-us .qzone,
#ft .follow-us .weibo { float: left; width: 36px; height: 30px; text-indent: -10000px; margin: 10px 10px 0 0; }
#ft .follow-us .qweibo { background-position: 0 -342px; height: 34px; }
#ft .follow-us .qzone { background-position: 0 -379px; }
#ft .follow-us .weibo { background-position: 0 -417px; margin-top: 11px; }

.filter_box ul .switch,.tools_box .page a,.list_a .adds span,.filter_box ul .switch_off{ background:url(/images/new/icon_bg.png) left top no-repeat;}

.blue { color:#659bc5;}

.list_a .bg:after {content:' ';display:block;height:0;clear:both;visibility:hidden;}
.list_a .bg { zoom:1;}

.article { float:right;width:714px;}
.aside { float:left;width:264px;}

.path_box { line-height:30px;font-size:14px;}

.menu_a { margin-bottom:10px;}
.menu_a li a{ display:block;height:120px;font-size:16px;color:#fff;line-height:34px;padding:30px 0 0 12px;}
.menu_a li a:hover { text-decoration:none;}
.menu_a li .cn { display:block;font-size:18px;}
.menu_a li { background:url(/images/new/menu_a_bg.png) left top no-repeat;margin-bottom:4px;}
.menu_a .b {background-image:url(/images/new/menu_b_bg.png);}
.menu_a .c {background-image:url(/images/new/menu_c_bg.png);}

.filter_box {margin-bottom:50px;}
.filter_box .title{line-height:30px;height:30px;font-size:14px;color:#659bc5;}
.filter_box ul { border-top:dotted 1px #cecece;line-height:28px;font-size:14px;}
.filter_box ul li { padding:1px 0;border-bottom:dotted 1px #cecece;position:relative;overflow:hidden;height:28px;}
.filter_box ul .t { display:inline-block;background:url(/images/new/filter_bg_a.png) left top no-repeat;width:43px;height:28px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/filter_bg_a.png" ,sizingMethod="noscale");_background:none;color:#fff;padding-left:10px;vertical-align:top;}
.filter_box ul a { color:#696969;display:inline-block;background:url(/images/new/filter_bg_2.png) center right no-repeat;padding:0 14px 0 10px;}
.filter_box ul a:hover { color:#659bc5;}
.filter_box ul a span { display:inline-block;padding: 0 10px;margin:2px 0 0 0;height:24px;line-height:22px;border-radius:4px;vertical-align:top;}
.filter_box ul .on span { background:#006835;color:#fff;}
.filter_box ul .c { display:inline-block;width:624px;vertical-align:top;}
.filter_box ul .switch,.filter_box ul .switch_off { position:absolute;right:8px;top:4px;width:21px;height:21px;display:block;cursor:pointer;display:none;}
.filter_box ul .switch_off { background-position:-22px top;}

.tools_box { height:30px;line-height:30px;font-size:14px;padding-bottom:2px;}
.tools_box .page { float:right;height:28px;background:#eaf5fc;border-left:solid 1px #65a4c5;line-height:28px;padding:0 6px;}
.tools_box .page .num { display:inline-block;vertical-align:top;font-family:Arial;margin-right:10px;}
.tools_box .page .line { display:inline-block;vertical-align:top;line-height:26px;font-family:Arial;}
.tools_box .page a { display:inline-block;vertical-align:top;width:17px;height:17px;background-position:left -21px;margin:6px 4px 0;}
.tools_box .page .next { background-position:-18px -21px;}

.list_a { border-top:dotted 1px #cecece;}
.list_a li {border-bottom:dotted 1px #cecece;padding:3px 0;cursor:pointer;}
.list_a .bg { background:#eaf5fc;padding:16px;position:relative;}
.list_a .pic { float:left;}
.list_a .content { width:250px;float:left;padding:0 0 0 46px;word-break:break-all;word-wrap:break-word;}
.list_a .title { display:block;font-size:18px;color:#65a4c5;padding-bottom:16px;}
.list_a .adds { color:#65a4c5;}
.list_a .adds span { display:inline-block;width:10px;height:14px;background-position:0 -38px;vertical-align:top;margin: 2px 6px 0 0;}
.list_a .c { line-height:20px;padding:10px 0 0 0;}
.list_a .price { padding-top:30px;font-size:14px;color:#006835;}
.list_a .price .g {font-size:20px; }
.list_a .exp { background:#006835;height:40px;line-height:40px;font-size:14px;position:absolute;top:10px;right:0;color:#fff;white-space:nowrap;min-width:100px;text-align:center;padding:0 8px;}
.list_a .hover .bg{ background:#d8f0ff;}
.list_a .hover .exp {background:#65a4c5; }

.pagenation-b { text-align:right;font-size:16px;padding-top:34px;}
.pagenation-b a { display:inline-block;vertical-align:top;height:38px;width:42px;text-align:center;line-height:38px;color:#fff;background:#006835;font-family:Arial;}
.pagenation-b a:hover { text-decoration:none;background:#006835;}
.pagenation-b .on { background:#006835;}
.pagenation-b .hidden { display:none;}
.pagenation-b .first span, .pagenation-b .last span { display:inline-block;vertical-align:top;}
.pagenation-b .first,.pagenation-b .last { width:100px;background:#006835;}
.pagenation-b .first .icon,.pagenation-b .last .icon{background:url(/images/new/icon_bg.png) -30px -62px no-repeat;display:inline-block;height:12px;width:8px;margin:13px 10px 0 0;}
.pagenation-b .last .icon { background-position:0 -62px;margin: 13px 0 0 10px;}

.aside .code_box { background:#a6bac6;padding:28px 0 0 12px;height:148px;}
.aside .code_box img { display:block;float:left;}
.aside .code_box p { float:left;display:block;width:134px;text-align:center;color:#fff;font-size:14px;line-height:24px;padding-top:26px;}

.i_main_box { background:white;padding:;position:relative;}
.i_main_box .show_box { float:left;width:34%;height:100%}
.i_main_box .show_box .pic_box { position:relative;width:220px;height:150px;overflow:hidden;}
.i_main_box .show_box img { display:block;position:absolute;left:0;top:0;filter:alpha(opacity=0);opacity:0;}
.i_main_box .show_box .tab_box { text-align:center;padding-top:32px;}
.i_main_box .show_box .tab_box span { display:inline-block;width:11px;height:11px;background:url(/images/new/i_icon_bg1.png) -11px -174px no-repeat;cursor:pointer;margin:0 4px;}
.i_main_box .show_box .tab_box .on { background-position:0 -174px;}
.i_main_box .tip { position:absolute;top:0;right:0;text-align:right;font-size:14px;background:#006835 url(/images/new/i_tip_bg.png) left top no-repeat;color:#fff;height:38px;line-height:38px;padding:0 16px 0 22px;}
.i_main_box .content { float:left;;width:60%;;padding:4px 0 0 0px;text-align:center}
.i_main_box .content .name { font-size:18px;display:block;padding-bottom:10px;}
.i_main_box .content .adds,.i_main_box .content .time { background:url(/images/new/i_icon_bg1.png) left -56px no-repeat;padding-left:px;color:#7d7d7d;height:22px;line-height:22px;display:block;margin-top:10px;}
.i_main_box .content .time { background-position:left -95px;}
.i_main_box .content .price { color:#006835;font-size:18px;padding-top:12px;;padding-bottom:10px;}
.i_main_box .content .price .g { font-size:16px;}
.i_main_box .content .price .num { font-size:24px;}
.i_main_box .ts_box { }
.i_main_box .ts_box .share_box { float:left;width:158px;text-align:center;color:#7d7d7d;padding-left: 87px;}
.i_main_box .ts_box .tel_box {float: left;
width: 277px;
border-right: solid 1px #006835;
height: 121px;
padding: 14px 0 0 40px}
.i_main_box .ts_box .tel_box p{padding:8px 0 0 30px; color:#7d7d7d;}
.i_main_box .ts_box .tel_box .tel { background:url(/images/new/i_icon_bg1.png) left -128px  no-repeat;color:#006835;font-size:18px;padding-top:0;}
.i_main_box .ts_box .share_box .icon { display:inline-block;background:url(/images/new/i_icon_bg1.png) left top no-repeat;width:39px;height:39px;margin-bottom:8px;}

.i_summary_box { background:#cad0cb;}
.i_summary_box li { float:left;height:110px;}
.i_summary_box .cola { width:94px;padding:;;height:110px;}
.i_summary_box .cola table { width:108px;height:110px;background:;text-align:center;color:#252525;font-size:18px;word-break:break-all;word-wrap:break-word;border-right: solid 1px white;}
.i_summary_box .colb { width:386px;border-right:solid 1px white;padding:;}
.i_summary_box .colb table { height:110px;font-size:16px;color:#252525;}
.i_summary_box .colb table p { background:url(/images/new/i_icon_bg2.png) left center no-repeat;padding: 1px 0 6px 5px;}
.i_summary_box .colc { width:205px;text-align:center;color:#252525;font-size:14px;padding-top:5px;height:110px;}
.i_summary_box .colc img { display:block;margin:0 auto;}
.i_summary_box .colc .t { font-size:13px;padding:2px 0 26px;color:#252525}

.i_tab_a {height:51px; margin:10px 0 28px;}
.i_tab_a li{float:left;margin-right:1px;}
.i_tab_a li .last { margin:0;}
.i_tab_a li a { width:330px;display:block;height:51px;line-height:51px;text-align:center;background:url(/images/new/i_tab_a_bg.png) left bottom no-repeat;font-size:18px;}
.i_tab_a li a:hover { text-decoration:none;}
.i_tab_a .on a{background-position:left top; }

.info_a_box { margin-bottom:24px;}
.info_a_box .head{ padding-bottom:20px;margin-top:20px}
.info_a_box .head h4{display:inline-block;font-size:18px;color:#006835;border:solid 3px #006835;padding:0 10px;line-height:30px;height:30px;}
.info_a_box .body { padding-bottom:10px;}

.info_a_box_a { }
.info_a_box_a .list{ padding-bottom:10px;}
.info_a_box_a .list li { margin-bottom:12px;}
.info_a_box_a .list .content{float:left;width:375px;border:solid 1px #006835;border-right:0;height:196px;background:#fff;padding: 10px 0 10px 18px;}
.info_a_box_a .list .content .title { font-size:18px;padding-bottom:30px;}
.info_a_box_a .list .content p {width:370px;word-break:break-all;word-wrap:break-word;font-size:14px;color: #006835;line-height:24px;}
.info_a_box_a .list img { display:;}
.pic img{width:291px;height:218px}

.info_a_box_b { }
.info_a_box_b .body{text-align:center; }
.info_a_box_b .col{display:inline-block;border:solid 3px #006835;width:216px;font-size:14px;padding-top:32px;height:272px;margin:0 20px;}
.info_a_box_b .col a { display:block;}
.info_a_box_b .col .name { padding:10px 0;}
.info_a_box_b .col img { display:block;margin:0 auto;}

.module_box {padding-bottom:40px; }
.module_box .article{float:left;background:#d8e7ef;padding:30px 24px;width:666px;}
.module_box .aside { float:right;}


.abox { background:#ececec;margin-bottom:10px;}
.abox .head{background:#d8e7ef;font-size:18px;height:50px;line-height:50px;padding-left:24px;}

.abox_1 .list { line-height:36px;font-size:16px;padding:20px 24px;}
.abox_1 .list li { width:216px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.s_article {float:left;}
.s_aside { float:right;padding-top:3px;}


.search_result {font-size:14px;border-bottom:dotted 1px #cecece;line-height:30px;margin-bottom:10px;width:714px;}
.search_result .key{color:#36c1d2;}

.s_article .list_a { border:0;}

.menu_c { }
.menu_c li {padding-bottom:2px; }
.menu_c li a{display:block;text-align:center; height:46px;line-height:46px;font-size:18px;background:#e8e8e8;}
.menu_c .on a { background:#eaf5fc;} 


.essay_list { font-size: 12px; }
.essay_list li { background: #cfe6f4; position: relative; padding: 0 0 18px 26px; margin-bottom: 2px; cursor: pointer; }
.essay_list li .tip { position: absolute; top: 0; right: 0; height: 29px; background: #006835 url(/images/new/p_tip_bg.png) left top no-repeat; line-height: 29px; color: #fff; padding: 0 45px 0 65px; font-size: 14px; }
.essay_list li .title { font-size: 18px; padding: 24px 0 0 6px; height: 34px; }
.essay_list li .pic { display: block; float: left; width: 155px; }
.essay_list li .content { float: left; width: 370px; padding: 0 0 0 30px; line-height: 20px; }
.essay_list li .content .c { width: 346px; padding-bottom: 8px; }
.essay_list li .content .time { text-align: right; }
.essay_list .hover { border-bottom: solid 1px #006835; }
.essay_list .button { padding-bottom: 8px; text-align: center; }
.essay_list .button a { display: inline-block; background: url(/images/new/p_btn_3.png); width: 95px; height: 25px; line-height: 25px; text-align: center; color: #fff; font-size: 14px; margin: 0 10px; }
.essay_list .none_pic .content{padding:0;width:555px; }
.essay_list .none_pic .content .c { width:530px;}

.article_box { border:solid 2px #006835;padding:24px 54px;}
.article_box .head { padding-bottom:10px;}
.article_box .title { border-bottom:solid 1px #006835;font-size:24px;line-height:40px;}
.article_box .time { font-size:14px;line-height:38px;}
.article_box .find_pic { float:right;}
.article_box .summary { border:solid 1px #eee;background:#fcfcfc;font-size:14px;padding:15px;color:#898989;margin-bottom:20px;width:426px;}
.article_box .introduction { width:456px;height:220px;padding-bottom:20px;}
.article_box .body { zoom:1;}
.article_box .body:after { content:" ";height:0;display:block;clear:both;visibility:hidden;}

.find_titlebar { font-size:18px;padding-top:30px;line-height:40px;}

.find_list li .content { width:550px;}
#spec{width: 98%;
margin: 0 auto}
#colb_s{width:217px}
.cola_a td{padding-top: 40px;color:#252525}
.cola_b td{padding-top:25px;padding-left:16px;color:#252525}
.share_box{border-top:solid 1px #ccc;text-align:center;padding-top:10px;width:112%}
.tel_box{padding: 39px;
color: #006835;
font-size: 1.2em;
text-align: center}
