html {
	font-size: 20px
}

body {
	width: 100%;
	margin: 0 auto
}

:focus {
	outline: 0
}

@media screen and (min-width:481px) {
	[class*=gp-czwy] {
		box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1)
	}
}

[class*=gp-czwy] .section-progress {
	padding: 20px 10px
}

[class*=gp-czwy] .section-progress .content {
	position: relative;
	overflow: hidden
}

[class*=gp-czwy] .section-progress .step {
	z-index: 2;
	position: relative;
	width: 25%;
	float: left;
	text-align: center
}

[class*=gp-czwy] .section-progress .step .index {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	color: #7e92ad;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: #e3f0fd;
	border-radius: 100px;
	transition: all .2s ease-out
}

[class*=gp-czwy] .section-progress .step .text {
	font-size:15px;
	color: #7e92ad;
	transition: all .2s ease-out
}

[class*=gp-czwy] .section-progress .step.active .index {
	background: #006939;
	color: #fff
}

[class*=gp-czwy] .section-progress .step.active .text {
	color: #006939
}

[class*=gp-czwy] .section-progress .line {
	z-index: 1;
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	top: 8px;
	height: 3px;
	background: #e3f0fd
}

[class*=gp-czwy] .section-progress .line p {
	width: 0;
	height: 100%;
	background: #006939
}

.gp-czwy-recommend {
	font: 400 12px/1.5 "Microsoft YaHei", sans-serif;
	color: #666
}

@
-webkit-keyframes bounce { 0%{
	-webkit-transform: scale(1)
}

50%{
-webkit-transform
:scale
(1
.03
)
}
100%{
-webkit-transform
:scale(1)
}
}
@
-webkit-keyframes slide-alternate { 0%{
	-webkit-transform: translateY(0px)
}

25%{
-webkit-transform
:translateY(-2px)
}
50%{
-webkit-transform
:translateY(0px)
}
75%{
-webkit-transform
:translateY(2px)
}
100%{
-webkit-transform
:translateY(0px)
}
}
.gp-czwy-recommend h1,.gp-czwy-recommend h2,.gp-czwy-recommend h3,.gp-czwy-recommend h4,.gp-czwy-recommend strong
	{
	font-weight: 400
}

.gp-czwy-recommend section {
	position: relative;
	width: 100%;
	margin: 0 auto
}

.gp-czwy-recommend .section-header {
	background: #fff
}

.gp-czwy-recommend .section-header .content {
	position: relative;
	width: 220px;
	padding: 20px 0 20px 80px;
	margin: 0 auto;
	text-align: center
}

.gp-czwy-recommend .section-header .content:before {
	content: "";
	display: block;
	width: 50px;
	height: 53px;
	position: absolute;
	left: 20px;
	top: 20px;
	background: url(../img/czwy/recommend/header_icon.png) no-repeat;
	background-size: 50px 53px
}

.gp-czwy-recommend .section-header h1 {
	font-size: 18px;
	color: #006939
}

.gp-czwy-recommend .section-header p {
	font-size: 13px
}

.gp-czwy-recommend .section-a {
	width: 100%;
	
	/*background: url(1.jpg) no-repeat;*/
	background-size: 100%
}

.gp-czwy-recommend .section-a>* {
	font-size: .7rem;
	
	bottom: .12427746%
}

.gp-czwy-recommend .section-a .sale {
	left: 10.41666667%;
	bottom: 10%;
	color: #666
}

.gp-czwy-recommend .section-a .price {
	right: 33.4375%;
	bottom: 10%;
	color: #ff8929
}

.gp-czwy-recommend .section-b {
	padding: 20px 6.25%;
	overflow: hidden;
	box-sizing: border-box;
	background: #006939;
	color: #fff
}

.gp-czwy-recommend .section-b .text-a {
	float: left;
	margin-right: 10px;
	padding: 5px;
	text-align: center;
	background: #ff8929
}

.gp-czwy-recommend .section-b .text-a strong {
	font-size: 20px
}

.gp-czwy-recommend .section-b .text-a span {
	font-size: 14px
}

.gp-czwy-recommend .section-b .text-b strong {
	font-size: 20px
}

.gp-czwy-recommend .section-b .text-b big {
	font-size: 24px
}

.gp-czwy-recommend .section-b .text-b span {
	font-size: 12px
}

.gp-czwy-recommend .section-b .text-c {
	float: left;
	clear: left;
	margin-top: 10px;
	font-size: 12px
}

.gp-czwy-recommend .section-cpts {
	background: #fff
}

.gp-czwy-recommend .section-cpts .title {
	position: relative;
	height: 50px;
	padding-left: 50px;
	line-height: 50px;
	color: #006939;
	border-top: 1px solid #006939;
	border-bottom: 1px solid #006939;
	background: #f8fcff
}

.gp-czwy-recommend .section-cpts .title h2 {
	font-size: 15px
}

.gp-czwy-recommend .section-cpts .title:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url(title_icon.png) no-repeat;
	background-size: 20px auto;
	position: absolute;
	left: 20px;
	top: 15px
}

.gp-czwy-recommend .section-cpts .content {
	padding: .5rem 0;
	counter-reset: cpts
}

.gp-czwy-recommend .section-cpts .content li {
	position: relative;
	height: 40px;
	padding: 10px 10px 10px 75px
}

.gp-czwy-recommend .section-cpts .content li strong {
	font-size: 15px;
	color: #333
}

.gp-czwy-recommend .section-cpts .content li span {
	font-size: 12px
}

.gp-czwy-recommend .section-cpts .content li:before {
	content: "";
	display: block;
	width: 61px;
	height: 50px;
	background: url(cpts.png) no-repeat;
	background-size: 61px auto;
	position: absolute;
	left: 0;
	top: 9px
}
.gp-czwy-recommend .section-cpts .content li:nth-of-type(6):before {
	background-position: 0 -308px
}
.gp-czwy-recommend .section-cpts .content li:nth-of-type(5):before {
	background-position: 0 -208px
}
.gp-czwy-recommend .section-cpts .content li:nth-of-type(4):before {
	background-position: 0 -158px
}

.gp-czwy-recommend .section-cpts .content li:nth-of-type(3):before {
	background-position: 0 -108px
}

.gp-czwy-recommend .section-cpts .content li:nth-of-type(2):before {
	background-position: 0 -58px
}

.gp-czwy-recommend .section-cpts .content li:nth-of-type(1):before {
	background-position: 0 0
}

.gp-czwy-recommend .section-cpts .content li:nth-of-type(0):before {
	background-position: 0 50px
}

.gp-czwy-recommend .section-ddyy {
	background: #fff
}

.gp-czwy-recommend .section-ddyy .title {
	position: relative;
	height: 50px;
	padding-left: 50px;
	line-height: 50px;
	color: #006939;
	border-top: 1px solid #006939;
	border-bottom: 1px solid #006939;
	background: #f8fcff
}

.gp-czwy-recommend .section-ddyy .title h2 {
	font-size: 15px
}

.gp-czwy-recommend .section-ddyy .title:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url(title_icon.png) no-repeat;
	background-size: 20px auto;
	position: absolute;
	left: 20px;
	top: 15px
}

.gp-czwy-recommend .section-ddyy .content {
	padding: .5rem 0;
	counter-reset: cpts
}

.gp-czwy-recommend .section-ddyy .content li {
	position: relative;
	height: 40px;
	padding: 10px 10px 10px 75px
}

.gp-czwy-recommend .section-ddyy .content li strong {
	font-size: 15px;
	color: #333
}

.gp-czwy-recommend .section-ddyy .content li span {
	font-size: 15px
}

.gp-czwy-recommend .section-ddyy .content li:nth-of-type(4):before {
	background-position: 0 -150px
}

.gp-czwy-recommend .section-ddyy .content li:nth-of-type(3):before {
	background-position: 0 -100px
}

.gp-czwy-recommend .section-ddyy .content li:nth-of-type(2):before {
	background-position: 0 -50px
}

.gp-czwy-recommend .section-ddyy .content li:nth-of-type(1):before {
	background-position: 0 0
}

.gp-czwy-recommend .section-ddyy .content li:nth-of-type(0):before {
	background-position: 0 50px
}

.gp-czwy-recommend .section-ddyy .content li {
	max-width: 16em
}

.gp-czwy-recommend .section-ddyy .content li:before {
	content: "";
	display: block;
	width: 37px;
	height: 37px;
	background: url(../img/czwy/recommend/ddyy.png) no-repeat;
	background-size: 37px auto;
	position: absolute;
	left: 15px;
	top: 11px
}

.gp-czwy-recommend .section-ddyy .content li:before span {
	font-size: 15px
}

.gp-czwy-recommend .section-fwnr {
	border-bottom: 1px solid #f5f5f5;
	background: #fff
}

.gp-czwy-recommend .section-fwnr .title {
	position: relative;
	height: 50px;
	padding-left: 50px;
	line-height: 50px;
	color: #006939;
	border-top: 1px solid #006939;
	border-bottom: 1px solid #006939;
	background: #f8fcff
}

.gp-czwy-recommend .section-fwnr .title h2 {
	font-size: 15px
}

.gp-czwy-recommend .section-fwnr .title:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url(title_icon.png) no-repeat;
	background-size: 20px auto;
	position: absolute;
	left: 20px;
	top: 15px
}

.gp-czwy-recommend .section-fwnr .content {
	position: relative;
	padding-bottom: 40px;
	transition: padding-bottom 0s ease-out .2s
}

.gp-czwy-recommend .section-fwnr .content ul {
	padding: 1px 0;
	height: 180px;
	overflow: hidden;
	transition: height .3s ease-out
}

.gp-czwy-recommend .section-fwnr .content li {
	margin: 20px;
	line-height: 1.5;
	counter-reset: p
}

.gp-czwy-recommend .section-fwnr .content h3 {
	font-size: 18px;
	color: #5ca947
}

.gp-czwy-recommend .section-fwnr .content p {
	position: relative;
	margin: 5px 0;
	padding-left: 2em;
	font-size: 16px;
	color: #666
}

.gp-czwy-recommend .section-fwnr .content p:before {
	content: counter(p) "、";
	counter-increment: p;
	position: absolute;
	left: 0;
	top: 0
}

.gp-czwy-recommend .section-fwnr .content span {
	display: inline-block;
	vertical-align: middle
}

.gp-czwy-recommend .section-fwnr .content strong {
	color: #f3a85d
}

.gp-czwy-recommend .section-fwnr .content .unlimit {
	position: relative;
	display: inline-block;
	padding: 2px 8px;
	margin-left: 5px;
	color: #fff;
	line-height: 1;
	background: #f3a85d;
	border-radius: 3px
}

.gp-czwy-recommend .section-fwnr .content .unlimit:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: -7px;
	top: 5px;
	border: 4px solid transparent;
	border-right-color: #f3a85d
}

.gp-czwy-recommend .section-fwnr .content .more {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 12px;
	color: #006939;
	line-height: 40px
}

.gp-czwy-recommend .section-fwnr .content .more:before {
	position: relative;
	top: 0;
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 5px;
	border-top: 8px solid #006939;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	-webkit-animation: slide-alternate 1s linear infinite normal
}

.gp-czwy-recommend .section-fwnr .content.active {
	padding-bottom: 0
}

.gp-czwy-recommend .section-fwnr .content.active ul {
	height: auto
}

.gp-czwy-recommend .section-fwnr .content.active .more {
	display: none
}

.gp-czwy-recommend .section-contact {
	border-top: 1px solid #fff;
	text-align: center
}

.gp-czwy-recommend .section-contact .public {
	display: inline-block;
	padding: 20px 0;
	margin: 0 10px;
	text-align: center
}

.gp-czwy-recommend .section-contact .public p {
	position: relative;
	display: inline-block;
	color: #999;
	font-size: 12px;
	text-align: left
}

.gp-czwy-recommend .section-contact .public p.tel {
	padding-left: 40px;
	padding-right: 20px;
	margin-right: 15px;
	border-right: 1px solid #999;
	background: url(../img/czwy/recommend/tel.png) 5px center no-repeat;
	background-size: 27px
}

.gp-czwy-recommend .section-contact .public p.wx {
	padding-left: 40px;
	background: url(../img/czwy/recommend/wechat.png) 5px center no-repeat;
	background-size: 27px
}

.gp-czwy-recommend .section-contact .public p .link {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%
}

.gp-czwy-recommend .section-contact .slogan {
	display: inline-block;
	width: 210px;
	padding-top: 21px;
	margin: 0 10px;
	color: #666;
	font-size: 12px;
	text-align: center;
	background: url(../img/czwy/recommend/slogan.png) center top no-repeat;
	background-size: 209px
}

.gp-czwy-recommend .section-action {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 77px;
	background: #fff;
	border-top: 1px solid #eee;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.gp-czwy-recommend .section-action .content {
	width: 100%;
	margin: 0 auto;
	padding: 7px 10px;
	box-sizing: border-box
}

.gp-czwy-recommend .section-action .buy {
	display: block;
	width: 100%;
	height: 60px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	line-height:60px;
	background: #006939;
	border-radius: 5px
}

.gp-czwy-buy .section-info {
	background: #f8fcff;
	margin: 0 9px;
	border: 1px solid #dff1ff
}

.gp-czwy-buy .section-info dl {
	padding: 0 10px;
	overflow: hidden;
	border-bottom: 1px dashed #eee
}

.gp-czwy-buy .section-info dt {
	float: left;
	font-size: 14px;
	line-height: 40px;
	color: #333
}

.gp-czwy-buy .section-info dd {
	clear: left
}

.gp-czwy-buy .section-info dd.simple {
	margin-left: 6em;
	clear: none;
	line-height: 40px;
	color: #333
}

.gp-czwy-buy .section-info .form .item {
	position: relative;
	min-height: 40px;
	padding-left: 6em;
	margin-bottom: 10px
}

.gp-czwy-buy .section-info .form .row {
	margin-bottom: 10px
}

.gp-czwy-buy .section-info .form .label {
	position: absolute;
	left: 0;
	top: 0;
	width: 5.5em;
	text-align: right;
	line-height: 40px;
	color: #999
}

.gp-czwy-buy .section-info .form .text {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	background: #fff
}

.gp-czwy-buy .section-info .form .select {
	width: 100%;
	height: 40px;
	padding: 0 25px 0 10px;
	box-sizing: border-box;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	background: url(../img/select_expand.png) right center no-repeat #fff;
	background-size: 25px
}

.gp-czwy-buy .section-info .form :disabled {
	color: #ccc
}

.gp-czwy-buy .section-info .form .must {
	position: relative;
	display: block
}

.gp-czwy-buy .section-info .form .must .text {
	padding-right: 20px
}

.gp-czwy-buy .section-info .form .must:after {
	content: "*";
	display: block;
	position: absolute;
	right: 10px;
	top: 0;
	line-height: 40px;
	color: #006939
}

.gp-czwy-buy .section-info .parent .address .row-a {
	overflow: hidden;
	margin-bottom: -1px
}

.gp-czwy-buy .section-info .parent .address .row-a .select {
	width: 50%;
	float: left;
	border-bottom-color: #eee
}

.gp-czwy-buy .section-info .parent .address .row-a .select:first-of-type
	{
	border-right-color: #eee
}

.gp-czwy-buy .section-info .parent .address .row-a .select:last-of-type
	{
	border-left: none
}

.gp-czwy-buy .section-info .parent .address .row-b .text {
	border-top-color: #eee
}

.gp-czwy-buy .section-info .parent .address .row-c {
	position: relative;
	padding-left: 2em;
	font-size: 12px;
	color: #999
}

.gp-czwy-buy .section-info .parent .address .row-c:before {
	content: "注：";
	display: block;
	position: absolute;
	left: 0;
	top: 0
}

.gp-czwy-buy .section-agreement {
	padding: 20px 0;
	text-align: center
}

.gp-czwy-buy .section-agreement>* {
	vertical-align: middle
}

.gp-czwy-buy .section-agreement input {
	margin-right: 5px
}

.gp-czwy-buy .section-agreement label {
	color: #888
}

.gp-czwy-buy .section-action {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 54px;
	background: #fff;
	border-top: 1px solid #eee;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.gp-czwy-buy .section-action .content {
	width: 100%;
	margin: 0 auto;
	padding: 7px 10px;
	box-sizing: border-box
}

.gp-czwy-buy .section-action .buy {
	display: block;
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	background: #006939;
	border-radius: 5px
}

.gp-czwy-confirm .section-info {
	background: #f8fcff;
	margin: 0 9px;
	border: 1px solid #dff1ff
}

.gp-czwy-confirm .section-info dl {
	margin: 0 10px;
	overflow: hidden;
	border-bottom: 1px dashed #ddd
}

.gp-czwy-confirm .section-info dl:last-of-type {
	border-bottom: none
}

.gp-czwy-confirm .section-info dt {
	height: 40px;
	border-bottom: 1px dashed #ddd;
	line-height: 40px;
	font-size: 14px;
	color: #333
}

.gp-czwy-confirm .section-info dd p {
	position: relative;
	margin: 10px 0;
	padding-left: 7em;
	min-height: 1.5em;
	font-size: 14px;
	line-height: 1.5
}

.gp-czwy-confirm .section-info dd p label {
	position: absolute;
	left: 0;
	top: 0;
	width: 6.5em;
	color: #999;
	text-align: right
}

.gp-czwy-confirm .section-info dd p span {
	color: #333
}

.gp-czwy-confirm .section-action {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 54px;
	background: #fff;
	border-top: 1px solid #eee;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.gp-czwy-confirm .section-action .content {
	width: 100%;
	margin: 0 auto;
	padding: 7px 10px;
	box-sizing: border-box
}

.gp-czwy-confirm .section-action .buy {
	display: block;
	width: 100%;
	height: 40px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	background: #006939;
	border-radius: 5px
}

.gp-czwy-success .section-success {
	background: #f8fcff;
	margin: 0 9px 20px;
	padding: 45px 10px;
	border: 1px solid #dff1ff;
	text-align: center
}

.gp-czwy-success .section-success h2 {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 15px
}

.gp-czwy-success .section-success h2:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	left: 0;
	top: 0;
	background: url(../img/czwy/success/success.png) no-repeat;
	background-size: 20px auto;
	position: absolute
}

.gp-czwy-success .section-success p {
	font-size: 12px
}

.gp-czwy-success .section-success .slogan {
	width: 145px;
	height: 32px;
	margin: 40px auto 0;
	background: url(../img/czwy/success/slogan.png) no-repeat;
	background-size: 145px auto
}

.gp-czwy-success .section-wx {
	width: 260px;
	height: 72px;
	margin: 0 auto;
	padding: 15px 0 0 72px;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	background: url(../img/czwy/success/qr.png) no-repeat;
	background-size: 72px 72px
}

.g-fix-fixed .section-action {
	position: static
}