@charset "utf-8";
/* CSS Document */
/*common*/
/*布局*/
.wp{width:1000px; margin:auto;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.ml20{ margin-left:20px;}
.ml40{ margin-left:40px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mb20{ margin-bottom:20px;}
.mb10{ margin-bottom:10px;}
.pb10{ padding-bottom:10px;}
.pd10{ padding:0 10px;}
.pd0{ padding:0;}
.pb5{ padding-bottom:5px;}
.clearThis 	{clear:both;}
.hide		{display:none;}
.oh{ overflow:hidden;}
.m10{ margin:10px;}
.relative{ position:relative;}
a.block{ display:block; position:relative; overflow:hidden; zoom:1;}
a.block img{ width:100%; position:relative; z-index:5;}
a.block span{width:100%; position:absolute; height:24px; background:rgba(0,0,0,0.5); line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0; left:0; z-index:10; text-align:center;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
a.center{ text-align:center;}

/*线条*/
.line{ clear:both; border-top:1px solid #eee; height:0; overflow:hidden;}
.line_dot{ clear:both; border-top:1px dotted #eee; height:0; overflow:hidden;}
.pipe{border-left:1px solid #999;border-right:1px solid #fff; margin:14px 8px;height:14px; line-height:0;}

/*plugin---------------------------------------------------------------------------*/
.kel_box{position:relative; height:auto;}
.kel_box textarea{ display:none;}
.kel_box_on{border:1px solid red; }
.kel_box_on #copy{ position:absolute; line-height:20px; top:0; right:0; cursor:pointer; background:blue; color:#FFF; padding:6px 10px; z-index:80000;}
.kel_layout{ margin:30px auto;}
.kel_layout .wp{ width:1004px;}
.kel_layout div{ text-align:center; line-height:60px;}
.kel_layout .cm_c3_2{ width:704px;}
.kel_layout .cm_c3_2_l,.kel_layout .cm_c3_2_r,.kel_layout .cm_c3_1,.kel_layout .cm_c2_l,.kel_layout .cm_c2_r,.kel_layout .cm_c3_a,.kel_layout .cm_c3_b,.kel_layout .cm_c3_c,.kel_layout .cm_c3_180,.kel_layout .cm_c3_390{border:1px solid #ddd;}
.kel_layout_2 .cm_c3_2{ border:1px solid #ddd;}
.kel_layout_3 .wp{ border:1px solid #ddd;}
.clipboardswf{position: absolute;top: 0;right: 0;height: 32px;width: 60px; z-index:80001;cursor: pointer;}

.kel_handle{ position:fixed; top:150px; left:10px; background:#eee; border:1px solid #DDD; z-index:999;}
.kel_handle strong{ background:#E2E2E2;}
.kel_handle li{border-bottom:1px solid #e0e0e0;}
.kel_handle a,.kel_handle strong{padding:5px 10px; display:block;}
.kel_handle a:hover{ background:#E9E9E9;}


/*common---------------------------------------------------------------------------*/
/*顶部控制条*/
.cm_nav{height:36px; padding-bottom:1px; background:#fff; border-bottom: 1px #d8d8d8 solid; width: 100%;min-width: 1000px; z-index: 9999; position:relative;}
.cm_nav .inner{ background:#EEE; line-height:36px; height:36px; font:13px/40px "宋体";}

/*顶部导航菜单*/
.cm_nav .logo{display: inline-block;height:36px;line-height: 40px;color: #3b7366;background: url("gallery.gif") 0 8px no-repeat;padding-left: 25px;}
.cm_nav .menu{ margin-left:10px;}
.cm_nav .menu a{float: left;padding: 0 8px;}
.cm_nav .menu a.more{float: left;padding: 0 8px; }
.cm_nav .menu dl{ float:left; width:60px;background:url(gallery.gif) 36px -28px no-repeat; position:relative; height:auto;}
.cm_nav .nav_link_c{ position:absolute; border:1px solid #3d7366; background:#FFF; overflow:hidden; width:210px; height:84px; left:0; top:40px; z-index:9999; display:none;padding:10px;}
.cm_nav .nav_link_c li{ width:70px; float:left; line-height:28px;}

/*----------------------------------------------------------------
 - 登陆部分
 ---------------------------------------------------------------*/
.top-menu{float:left; border-right:1px solid #d8d8d8; height:36px; position:relative; padding-right:10px;}
.top-menu a{ float:left;}
.top-menu .pipe{ float:left; line-height:0;}
#login_table{ width:100%}
#login_table input{ width:160px;}
#login_table tr td {display: block;margin:auto;padding-left: 35px; padding-top:10px;}
#login_table tr td button {width: 154px;}
#login_table tr td span{ display:block;}
#login_div {width:240px; top:34px; left:0; position:absolute; z-index:999; background:#fff;border: 1px solid #cdcdcd; -webkit-box-shadow: 0 0 8px #cdcdcd; -moz-box-shadow: 0 0 8px #cdcdcd; box-shadow: 0 0 8px #cdcdcd; line-height:28px;}

/*顶部搜索*/
.search{float: left;line-height: 28px;height: 28px; margin-left:12px; margin-top:5px; background:#FFF;}
.search_txt{float: left;width: 180px;box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
				height: 18px;padding: 4px 8px;line-height: 18px;font-size: 12px;border: 1px solid;
				border-color: #afafaf #d6d6d6 #d6d6d6 #afafaf; border-right:none;background: #FFF;color:#999;
				}
.search_btn {float: left;cursor: pointer;margin-left: -1px;padding: 0 12px;font-size: 12px;font-weight: normal;height: 28px;color: #FFF;
				line-height: normal;vertical-align: middle;border: 1px solid #666;background:#999;}
.selectinput{ float:left; width:60px;}
.selectinput a{ border: 1px solid;border-color: #afafaf #d6d6d6 #d6d6d6 #afafaf; height:26px; border-right:none; display:block;font-size:12px; line-height:28px; background:url(gallery.gif) 36px -34px no-repeat; text-decoration:none; width:60px; text-indent:8px; overflow:hidden; vertical-align:text-top;}

.select_handle { position:absolute; background:#FFF; border:1px solid #DDD; width: 75px; display: none; border-top:none; z-index:50;}
.select_handle li{ padding-left:10px; line-height:22px; border-bottom:1px solid #f0f0f0; cursor:pointer; }
.select_handle li:hover{ background:#f8f8f8;}
.select_handle{ display:none;}

/*主导航菜单*/
.main_nav{background: url("gallery.gif") -240px -120px no-repeat;float:left; width:870px;height: 38px;line-height: 38px; padding-left:7px;display:inline; zoom:1;}
.main_nav li{ width:65px; float:left; height:36px; line-height:36px;  overflow:hidden; overflow:hidden; border:1px solid #ddd; border-left:none;}
.main_nav li a{ display:block;text-align:center; }
.main_nav li a:hover{ background: #3b7366;font-weight: bold;color: #fff;}
.main_nav_logo{ float:left; width:115px; height:40px;}
.main_nav li.on{ background:#f8f8f8;}
.main_nav li.last{ position:relative; overflow:visible;}
.main_nav li.last a:hover{ background: #f5f5f5;font-weight:normal;color: #252525;}
.main_nav li.last dl{ background:#FFF; position:absolute; top:36px; border-top:1px solid #ddd; left:-1px; width:100%; display:none;}
.main_nav li.last dd{ border:1px solid #ddd; border-top:0;width: 100%;}

/*两行样式的导航*/
.main_nav_row2{border:1px solid #ddd; border-left:none; border-right:none; float:right; width:870px; height:73px; overflow:hidden;}
.main_nav_row2 ul{ margin:0 40px; border-left:1px solid #ddd; overflow:hidden;}
.main_nav_row2 li{ width:66px; float:left; height:36px; line-height:36px;  overflow:hidden; overflow:hidden; border:1px solid #ddd; border-left:none; border-top:none;}
.main_nav_row2 li a{ display:block;text-align:center;}
.main_nav_row2 li a:hover{ background:#363; color:#FFF;}

/*通用焦点图样式 宽340 高320 像素*/
.cm_focus{position:relative; height:320px; width:100%; z-index:1;}
.cm_focus .piclist{ position:relative;}
.cm_focus .piclist ul{overflow:hidden;}
.cm_focus .piclist li{ position:relative; overflow:hidden; float:left; height:320px; width:340px;}
.cm_focus .piclist a{ display:block; float:left; width:100%;}
.cm_focus img{width:100%;height:320px;}
.cm_focus .title{position: absolute;left: 0; bottom:0;padding: 0 15px;z-index: 3; text-align:left;
		filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#50000000',endColorstr = '#50000000');background: rgba(00,00,00,0.5);
overflow:hidden; height:40px;}
.cm_focus .title a{font-size: 16px;color: #fff;font-family: "微软雅黑", "黑体", Arial, sans-serif;font-weight: normal;text-decoration: none; line-height:40px;}
.cm_focus .bottonlist ul{overflow: hidden;color: #FFFFFF;line-height: 30px; position:absolute; bottom:40px; z-index:8; width:120px;}
.cm_focus .bottonlist li {width:30px;height: 10px;border-top: 8px solid #FFF;float: left;cursor: pointer;text-indent: 10px;overflow: hidden;margin: 0 5px;display: inline;opacity:0.5;filter:alpha(opacity=50); }
.cm_focus .bottonlist li.selected{border-top: 8px solid #F00;opacity:1;filter:alpha(opacity=100); }

/*焦点图按钮*/
a.pre_pic ,a.next_pic{ position: absolute; left: 0; top: 140px; width: 26px; height: 40px; background: url('gallery.gif') 0 -80px no-repeat; cursor: pointer; z-index: 15; display: inline-block;opacity:0.5;filter:alpha(opacity=50);}
a.next_pic { left:auto; right: 0; background: url('gallery.gif') -30px -80px no-repeat ;}
a.pre_pic:hover {opacity:1;filter:alpha(opacity=100);}
a.next_pic:hover {opacity:1;filter:alpha(opacity=100);}

a.pre_pic_3{width:23px; top: 60px;background:url('gallery.gif') 0 -164px  no-repeat;}
a.next_pic_3{width:23px; top: 60px; left:677px; background: url('gallery.gif') -30px -164px no-repeat;}

/*焦点图 宽 340，高320像素*/
.focus_340 .piclist li{ position:relative; overflow:hidden; float:left; height:320px; width:340px;}
.focus_340 .bottonlist ul{ right:0; width:120px !important ;}
.focus_340 .bottonlist li{ width:10px;opacity:1;filter:alpha(opacity=100);}
.focus_340 .title{width:310px;}


.focus_700 .piclist li{ position:relative; overflow:hidden; float:left; height:320px; width:700px;}
.focus_700 .bottonlist ul{ right:0; right:20px; bottom:6px;}
.focus_700 .bottonlist li{ width:30px;opacity:1;filter:alpha(opacity=100);}
.focus_700 .title{width:670px;}


/*标题字号为 18px 的文章列表 ，含文章摘要*/
.list_hs_t18{ overflow:hidden;}
.list_hs_t18 dt{ font-family:"微软雅黑","黑体";margin-bottom:8px; overflow:hidden;}
.list_hs_t18 dt a{color: #3b7366;height:18px;line-height:18px; font-size:18px;font-weight: bold;}
.list_hs_t18 dt a:hover{text-decoration:underline;}
.list_hs_t18 dd{ color:#777; border-bottom:1px dotted #ddd; padding-bottom:6px; margin-bottom:10px; text-indent:24px;}
.list_hs_t18 dd.last{ border:none; padding-bottom:0; margin-bottom:0;}

/*标题字号为 14px 的文章列表 ，含文章摘要*/
.list_hs_t14{ overflow:hidden;}
.list_hs_t14 dt{ font-size:14px; font-weight: bold;margin-bottom:10px; height:18px; overflow:hidden; line-height:18px; text-align:center;}
.list_hs_t14 dt a{color: #252525; white-space:nowrap;}
.list_hs_t14 dt a:hover{text-decoration:underline;}
.list_hs_t14 dd{color:#777; border-bottom:1px dotted #ddd; line-height:24px; padding-bottom:10px; margin-bottom:12px; text-indent:24px; height:42px; overflow:hidden;}
.list_hs_t14 dd.last{margin-bottom:0;}

/*标题字号为 14像素 ，文章列表为12像素 不含摘要 文章列表*/
.list_ns_t14_l12{ overflow:hidden;}
.list_ns_t14_l12 dt{ font-size:14px; font-weight:bold; line-height:36px;}
.list_ns_t14_l12 dd{background:url('gallery.gif')  -240px -164px no-repeat;padding-left: 12px; line-height:28px;}

/*14号字 文章列表 无摘要*/
.list_ns_f14_dot{ overflow:hidden;}
.list_ns_f14_dot li{background:url('gallery.gif')  -240px -164px no-repeat;padding-left: 12px; line-height:28px; height:28px; overflow:hidden; font-size:14px;}
.list_ns_f14_dot span{margin-right:10px;}

/*14号字 文章列表 无前缀 无摘要*/
.list_ns_f14{ overflow:hidden;}
.list_ns_f14 li{line-height:28px; height:28px; overflow:hidden; font-size:14px;}
.list_ns_f14 span{margin-right:10px;}

/*12号字 文章列表 无摘要*/
.list_ns_f12_dot{ overflow:hidden;}
.list_ns_f12_dot li{background:url('gallery.gif')  -240px -164px no-repeat;padding-left: 12px; line-height:28px; height:28px; overflow:hidden; font-size:12px;}
.list_ns_f12_dot span{margin-right:10px;}

/*图文列表*/

/*带摘要的新闻列表 图片（左） + 标题（右） + 摘要（右）*/
.list_hs_pic{zoom: 1;overflow: hidden; margin-top:22px; height:90px;}
.list_hs_pic .pic,.list_hs_pic .pic img{float: left;width: 120px; height:90px; }
.list_hs_pic .title,.list_hs_pic p{margin-left: 130px;color: #326433; line-height:24px; font-size:12px;}
.list_hs_pic .title{font-size:14px; font-weight:bold;}
.list_hs_pic p{color: #999;}

/*COL2	图（上）（340x240）+标题（下）*/
.list_hs_pic_c2{ width:100%;}
.list_hs_pic_c2 dt{ overflow:hidden; height:240px;}
.list_hs_pic_c2 dt img {height:240px; width:340px;}
.list_hs_pic_c2 dd{ line-height:28px; font-size:14px; text-align:center; margin-top:15px;}

/*ROW2	标题（上）+图片（下左）+摘要（下右）*/
.list_hs_pic_r2{zoom: 1;overflow: hidden;margin-top:20px; height:110px;}
.list_hs_pic_r2 h4{font-size:14px; font-weight:bold; line-height:20px; height:20px; overflow:hidden;}
.list_hs_pic_r2 .pic{float:left; width:130px; margin-top:10px;}
.list_hs_pic_r2 .txt{margin-left: 130px; margin-top:10px; padding-left: 3px;color: #777; font-size:12px;}
.list_hs_pic_r2 .txt a{color: #390;}

/*ROW2	多用于遍历的 标题（上）+图片（下左）+摘要（下右）*/
.list_hs_pic_2{zoom: 1;overflow: hidden; margin-top:22px; overflow:hidden;}
.list_hs_pic_2 dl{ position:relative; margin-bottom:15px; overflow:hidden;}
.list_hs_pic_2 dt{ font-size:14px; font-weight:bold; overflow:hidden; height:30px; line-height:30px;}
.list_hs_pic_2 dd{ height:90px; overflow:hidden;}
.list_hs_pic_2 dd img{ width:120px; height:90px; float:left;}
.list_hs_pic_2 p{height:90px; margin-left:140px; font-size:12px; color:#666; line-height:28px;}

/*标题字号为 14像素 ，文章列表为12像素 含摘要 文章列*/
.list_hs_pic_l14 {overflow:hidden; margin-top:20px;}
.list_hs_pic_l14 li{ height:60px; margin-bottom:18px;}
.list_hs_pic_l14 img{ float:left; width:70px; height:60px;}
.list_hs_pic_l14 a,.list_hs_pic_l14 p{ padding-left:16px; display:block; height:18px; overflow:hidden; font-size:14px; line-height:18px;}
.list_hs_pic_l14 p{ color:#999; font-size:12px; line-height:18px; height:36px; margin-top:6px;}

/*标题字号为 14像素 ，文章列表为12像素 含摘要 文章列*/
.list_hs_pic120_l14 {overflow:hidden; margin-top:20px;}
.list_hs_pic120_l14 li{ height:80px; margin-bottom:20px;}
.list_hs_pic120_l14 img{ float:left; width:110px; height:80px;}
.list_hs_pic120_l14 a,.list_hs_pic120_l14 p{ padding-left:16px; display:block; height:36px; overflow:hidden; font-size:14px; line-height:18px;}
.list_hs_pic120_l14 p{ color:#999; font-size:12px; line-height:18px; height:36px; margin-top:6px;}

/*700px 5 栏平均分 */
.list_hs_pic_c5{ overflow:hidden; width:720px; position:relative;}
.list_hs_pic_c5 li{ width:130px; margin-right:12px; float:left; display:inline; overflow:hidden;}
.list_hs_pic_c5 li:hover{ background:#f2f2f2;}
.list_hs_pic_c5 a{ display:block; width:100%; position:relative; height:130px; clear:both;}
.list_hs_pic_c5 img{ width:130px; height:130px; position:absolute; z-index:5;}
.list_hs_pic_c5 span{width:100%; position:absolute; height:24px; background:rgba(0,0,0,0.5); line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); z-index:10; text-align:center;}
.list_hs_pic_c5 p{ font-size:12px; color:#999; line-height:22px; text-indent:24px; height:110px; position:relative; padding-left:5px; margin-top:10px; overflow:hidden;}

/*A4比例的图文列表*/
.list_hs_pic_a4{zoom: 1;overflow: hidden; margin-top:20px; height:110px;}
.list_hs_pic_a4 .pic,.list_hs_pic_a4 .pic img{float: left;width:90px; height:110px;overflow:hidden;}
.list_hs_pic_a4 .title,.list_hs_pic_a4 p{margin-left: 110px;color: #326433; line-height:22px; font-size:12px;}
.list_hs_pic_a4 p{ text-indent:24px;}
.list_hs_pic_a4 .title{font-size:14px; font-weight:bold;}
.list_hs_pic_a4 p{color: #999;}

/*A4*/
.list_hs_pic_a4 .pic,.list_hs_pic_a4 .pic img{float: left;width:90px; height:110px;overflow:hidden;}
.list_hs_pic_a4 .title,.list_hs_pic_a4 p{margin-left: 110px;color: #326433; line-height:22px; font-size:12px;}
.list_hs_pic_a4 p{ text-indent:24px;}
.list_hs_pic_a4 .title{font-size:14px; font-weight:bold;}
.list_hs_pic_a4 p{color: #999;}


/*700px 5 栏平均分 */
.list_img_1000_c5{ overflow:hidden; position:relative;width:1020px;}
.list_img_1000_c5 li{ float:left; width:184px;  height:170px; margin-right:20px; overflow:hidden;}
.list_img_1000_c5 img{width:184px; height:138px; margin-bottom:10px;}
.list_img_1000_c5 li a{width:184px;  font-size:12px; text-align:center; display:block; line-height:24px; height:24px; float:left;}

/*700px 4 栏平均分 */
.list_img_1000_c4{ overflow:hidden; position:relative;width:1020px;}
.list_img_1000_c4 .inner{ height:178px; overflow:hidden;position:relative; margin:22px 40px 0 40px; width:920px;}
.list_img_1000_c4 ul{width:91860px;overflow:hidden; position:relative;}
.list_img_1000_c4 li{ float:left; width:215px;  height:180px; margin-right:20px; overflow:hidden;}
.list_img_1000_c4 img{width:215px; height:140px; margin-bottom:10px; float:left;}
.list_img_1000_c4 li a{width:184px;  font-size:12px; text-align:center; display:block; line-height:24px; height:24px; float:left;}
.list_img_1000_c4 a.pre_pic_2{top: 80px;background:url('gallery.gif') 0 -164px no-repeat;}
.list_img_1000_c4 a.next_pic_2{top: 80px; left:970px; background: url('gallery.gif') -30px -164px no-repeat;}

/*专题列表 带切换*/
.list_topic_toggle{ overflow:hidden; position:relative; height:264px;}
.list_topic_toggle li{ position:relative; width:100%; clear:both;  height:28px; overflow:hidden;margin:0; float:left;}
.list_topic_toggle li.selected{height:90px; position:relative;margin:8px 0;}
.list_topic_toggle li.selected img{width:100%; height:90px;position:absolute; display:block; left:0; z-index:8;}
.list_topic_toggle li.selected span{width:100%; position:absolute; height:24px; background:rgba(0,0,0,0.5); line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0;left:0; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); text-indent:8px; z-index:10;}
.list_topic_toggle li img{ display:none;}
.list_topic_toggle a{ float:left; display:block; overflow:hidden;}
.list_topic_toggle span{ line-height:28px; font-size:14px; z-index:8;}

/* side link 链接样式*/
.side_box .side_link_c5,.side_box .side_link_c4,.side_box .side_link_c2{ overflow:hidden; line-height:28px;zoom:1; width:260px;}
.side_link_c5 li,.side_link_c4 li,.side_link_c2 li{ float:left; text-align:center; width:20%; line-height:28px; height:28px; overflow:hidden;}
.side_link_c4 li{ width:25%;}
.side_link_c2 li{ width:50%; text-align:left;}
.side_link_c2 li a{ width:90%; display:block; float:left;}

/*cm_title_tab*/
.cm_title_tab{ height:34px; border-bottom:1px solid #ccc; clear:both;}
.cm_title_tab ul{float:left; height:34px;font-family:"微软雅黑","黑体";}
.cm_title_tab li,.cm_title_tab h1{ float:left; font-size:16px;  line-height:32px; margin-right:15px; width:114px;text-align: center;}
.cm_title_tab li.selected{ border:1px solid #ddd; border-top:2px solid #326433;border-bottom:none;background:#FFF; height:33px; font-weight: bold;font-size: 18px;}
.cm_title_tab h1{ float:left; padding:0 10px; border-left:2px solid #363;height:20px; line-height:20px; margin-top:8px;font-weight: bold;font-size: 18px ; color:#363;}
.cm_title_tab a:hover{ color:#252525;}
.cm_title_tab .text{float:right;font-size: 12px;font-family: "宋体";}
.cm_title_tab .text a{font-size: 12px;font-family: "宋体"; line-height:34px;}
.cm_title_tab .text a:hover{ color:#f60;}

/*TAB 切换*/
.cm_tab{ overflow:hidden; position:relative;}
.cm_tab .outer{ width:100%; position:relative; overflow:hidden; height:290px;}
.cm_tab .inner{ overflow:hidden; position:relative;}
.cm_tab .item{display:block; height:420px; overflow:hidden;}

/*导航菜单 fix*/
.ov{width:870px; float:right;}
.ov .borderbottom1{border-bottom:1px solid #eee; padding:0 40px; height:28px; overflow:hidden;}
.ov .outer{ width:780px;border:none; height:36px;  overflow:hidden;}
.ov .cm_menu_sub{ line-height:28px;}
.ov .cm_menu_sub li{ float:left; padding:0 20px;line-height:28px;}

.menu_nav{ height:34px; padding:0 40px; width:790px;border-bottom: 1px solid #ccc;clear: both;}
.menu_nav ul{ height:33px; border:1px solid #ddd; border-bottom:none; padding:0 40px; white-space:nowrap;float: left;font-family: "微软雅黑","黑体";}
.menu_nav li{ height:33px; width:auto; border:none; padding:0 20px; border-right:1px solid #ddd; margin:0; overflow:hidden;}
.menu_nav li.last{ border-right:1px solid #FFF;}
.menu_nav li.selected{ background:#363; font-size:16px; height:33px; border:none;}
.menu_nav li.selected a{ color:#FFF; font-weight:100; display:block;}


/*播放图标*/
.video_24x24{ height:24px; width:24px; position:relative; float:left; top:0; background:url(gallery.gif) -128px -118px no-repeat;}
.video_40x40{position: relative;display: block;height: 40px;width: 40px;background: url('http://www.81.cn/res/static/play_icon_40.png');_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='http://www.81.cn/res/static/play_icon_40.png');
_background: none; cursor:pointer;}

/*图片中心*/
.list_img_700{width:620px; height:140px; margin-top:22px; overflow:hidden;position:relative; margin:22px 40px 0 40px;}
.list_img_700 ul{width:1440px;overflow:hidden; position:relative;}
.list_img_700 li{ width:145px; overflow:hidden; float:left; margin-right:15px; overflow:hidden; height:160px;}
.list_img_700 li img{ width:145px; height:100px;}
.list_img_700 li span{ font-size:12px;}

.list_img700{width:620px; height:140px; margin-top:22px; overflow:hidden;position:relative; margin:22px 40px 0 40px;}
.list_img700 ul{width:1440px;overflow:hidden; position:relative;}
.list_img700 li{ width:145px; overflow:hidden; float:left; margin-right:15px; overflow:hidden; height:160px;}
.list_img700 li img{ width:145px; height:100px;}
.list_img700 li span{ font-size:12px;}

/*图片比例 4:3*/
.list_img_450{ width:500px; overflow:hidden;}
.list_img_450 li{ width:136px; height:102px; float:left; overflow:hidden; margin-right:20px;display:inline;position:relative;}
.list_img_450 a{float:left;width:100%; height:102px;display:block; position:relative;}
.list_img_450 span{width:100%; position:absolute; height:24px; background:rgba(0,0,0,0.6); line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0;text-align:center;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');z-index:10;}
.list_img_450 img { width:136px; height:102px;position:absolute;z-index:5;}

.list_img_490{width:520px; overflow:hidden; position:relative;}
.list_img_490 li{ width:150px; height:110px; float:left; overflow:hidden; margin-right:20px;display:inline;position:relative;}
.list_img_490 a{float:left;width:100%; height:110px;display:block; position:relative;}
.list_img_490 span{width:100%; position:absolute; height:24px; background:rgba(0,0,0,0.6); line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0;text-align:center;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');z-index:10;}
.list_img_490 img { width:150px; height:110px;position:absolute;z-index:5;}

.list_img_150{ width:150px; overflow:hidden; position:relative; left:0; top:0;}
.list_img_150 li{ width:150px; height:110px;overflow:hidden; margin-bottom:20px;}
.list_img_150 a{float:left;width:100%; height:110px;display:block; position:relative;}
.list_img_150 span{width:100%; position:absolute; height:24px; background:rgba(0,0,0,0.6); line-height:24px; overflow:hidden; font-size:12px; color:#FFF; bottom:0;text-align:center;filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');z-index:10;}
.list_img_150 img { width:150px; height:110px;position:absolute;z-index:5;}

/*滚动链接*/
a.pre_pic_4{width:13px; top: 180px; left:10px;background:url('gallery.gif') 0 -164px no-repeat;}
a.next_pic_4{width:13px; top: 180px; left:260px; background: url('gallery.gif') -30px -164px no-repeat;}

fieldset,img { border:none;}
iframe { display:block;}
abbr,acronym {border:none;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:500;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
q:before,q:after , blockquote:before, blockquote:after{ content:'';}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup { top:-0.5em;}
sub { bottom:-0.25em;}
ins,a { text-decoration:none;}
a:hover { text-decoration:underline;}
a:focus,*:focus { outline:none;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.mt10{ margin-top:10px;}
.clearThis 	{clear:both;}
.hide		{display:none;}
.clearfix:before,.clearfix:after {  content:""; display:table;}
.clearfix:after {clear:both; overflow:hidden;}
.clearfix {zoom:1; /* for IE6 IE7 */}
.cm_c3_1{ width:280px;_overflow:hidden;}
.cm_c3_2{ width:700px;_overflow:hidden;}
.cm_c3_2_l,.cm_c3_2_r{width:340px; float:left; display:inline;zoom:1;overflow:hidden;}
.cm_c3_2_r{float:right;}
.cm_c4,.cm_c4_last{ width: 235px; float:left; margin-right:20px; display:inline;}
.cm_c4_last{ margin-right:0;}
.cm_c2_l,.cm_c2_r{ width:490px; float:left; margin-right:20px; display:inline;_overflow:hidden;}
.cm_c2_r{ margin-right:0;}
.side_box{border: 1px solid #e0e0e0;padding-bottom: 15px; overflow:hidden;}
.cm_c3_a,.cm_c3_b,.cm_c3_c{ width:320px; margin-right:20px; float:left; display:inline; overflow:hidden;}
.cm_c3_c{ margin-right:0; float:right;}
.cm_c5,.cm_c5_last{ width:184px; float:left; margin-right:20px; display:inline; _overflow:hidden;}
.cm_c5_last{ margin-right:0;}
.cm_c3_180,.cm_c3_390{ width:180px; float:left; display:inline;}
.cm_c3_390{ width:390px;}
.cm_700_c5,.cm_700_c5_last{ width:132px; float:left; margin-right:10px; display:inline; _overflow:hidden;}
.cm_700_c5_last{ margin-right:0;}
.black{background:#000;}
.white{background:#FFF;}
.green{background:#0F0;}
.blue{background:#00F;}
.bg_red{background:#C00;}
.bg_f2{ background:#f2f2f2;}
.bg_fff{ background:#FFF;}
.bd1{ border:1px solid #ddd;}
.red{ color:#C00;}
