@charset "utf-8";
html,body,div,ul,ol,li,dl,dt,dd,a,h1,h2,h3,h4,h5,img,label,span,strong,b,p,input{margin: 0; padding: 0; border: 0; list-style: none; }
body{font:400 14px/1.5 "SourceHanSans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Helvetica,sans-serif; background: #fff; -webkit-text-size-adjust:none;color: #5b667d }
a,a:hover{text-decoration: none;}
h1,h2,h3,h4,h5{font-weight: 400;}
*:focus { outline: none; }
.wrapper{width: 1024px;margin: 0 auto;position: relative}

.btn_white{border:1px solid #FFF}
.btn_white{border: 1px solid rgba(256,256,256,0.6); color: #fff; background: transparent; box-shadow: -1px -1px 0 rgba(255,255,255,0.4);cursor: pointer}
.btn_white:hover {background: rgba(255,255,255,.2);}
.btn_green{background: #55c2b9;color:#fff;cursor: pointer;position: relative;}
.btn_green:before{position: absolute;content: "";
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 0;
    background: #21bb63;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;}
.btn_green.actived:before{
    -webkit-animation: emptyBottom 0.7s forwards;
    -moz-animation: emptyBottom 0.7s forwards;
    animation: emptyBottom 0.7s forwards;
}
@-webkit-keyframes emptyBottom {
    to {
        height: 100%;
    }
}
@-moz-keyframes emptyBottom {
    to {
        height: 100%;
    }
}
@keyframes emptyBottom {
    to {
        height: 100%;
    }
}

.btn_green2{border: 1px solid #55c2b9; color: #55c2b9; background: transparent; cursor: pointer;border-radius: 3px;}
.btn_green2:hover{background: rgba(255,255,255,.2);}
.btn_black{background: #33383f;color: #fff;cursor: pointer;}
.shadow{position: absolute;left: 0;top: 0;right: 0;bottom: 0;background:url(../img/shadow1.png) repeat;display: none;z-index: 30}

.qrcode{background: url("../img/qrcode.png") no-repeat;}

.top_closed:after,
.main_box_info li:before,
.gene_box_list li:before,
.gene_box_list li:after,
.project_box_info dt:before,
.project_box_tips .tips_closed:before,
.project_box_tips .tips_closed:after,
.contact_box_title span:before,
.contact_box_social li:after,
.page_top:before,
.page_top:after,
.nav .nav_closed:before,
.nav .nav_closed:after{position: absolute;content: ""}

.procedure_box h2.tit,
.exprets_box h2.tit,
.background_box h2.tit,
.contact_box h2.tit{background: url("../img/title.png") no-repeat;}
.icon_mouse,
.contact_box_title span:before,
.contact_box_social li:after,
.icon_nav,
.top_closed:after{background: url("../img/un_icon.png") no-repeat;}

.top_flow{width:1024px;height:347px;text-align: center;position: absolute;top:-347px;left:50%;margin-left:-512px;}
.pusher-down {margin-top:347px}
.top_flow h2.tit{color: #5cb8a8;font-weight: 400;font-size: 28px;margin-top: 25px;}
.top_flow .top_list{margin: 25px 20px 0;overflow: hidden}
.top_flow .top_list li{width: 135px;float:left;margin: 0 15px 0 14px}
.top_flow .top_list li i{width:135px;height:125px;display: inline-block;margin: 0 auto;background: url("../img/top_flow.png") no-repeat}
.top_flow .top_list li i.icon_1{background-position: 0 0;}
.top_flow .top_list li i.icon_2{background-position: -135px 0;}
.top_flow .top_list li i.icon_3{background-position: -270px 0;}
.top_flow .top_list li i.icon_4{background-position: -405px 0;}
.top_flow .top_list li i.icon_5{background-position: -540px 0;}
.top_flow .top_list li i.icon_6{background-position: -675px 0;}
.top_flow .top_list li p{font-size: 11px;margin:10px -9px 0 12px;text-align: left;}
.top_closed{width: 72px;height: 36px;background:url(../img/up.jpg) no-repeat;border-radius: 36px 36px 0 0;position: absolute;top: -36px;left: 50%;margin-left: -36px;}

.main_box{height: 688px;position:relative;background: url("../img/bg_1.jpg") no-repeat top center;/*background: -moz-linear-gradient(top, #76cdc1 0%, #579db8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76cdc1), color-stop(100%, #579db8)); background: -webkit-linear-gradient(top, #76cdc1 0%, #579db8 100%); background: -o-linear-gradient(top, #76cdc1 0%, #579db8 100%); background: -ms-linear-gradient(top, #76cdc1 0%, #579db8 100%);  background: linear-gradient(top, #76cdc1 0%, #579db8 100%);*/ color: #fff;text-align: center;position: relative}
.logo{width: 136px;height: 39px;background: url("../img/logo_white.png");float: left;margin: 30px 0 0 35px;}
.icon_nav{position: absolute;top: 30px;right: 40px;width: 34px;height: 38px;background-position: 0 -100px;cursor: pointer;}
.main_box .btn_black{position: absolute;width: 125px;height: 38px;top: 30px;right: 100px;z-index: 20;font-size: 15px;}
.nav{height: 100px;background: #fff;position: absolute;z-index: 5;top: 1px;left: 0;right: 0;display: none;}
.nav a{color: #5b667d;height: 30px;margin: 35px 25px;display: inline-block;line-height: 30px;font-size: 16px;padding: 0 3px}
.nav a.current{color: #55c2b9}
.nav a:hover{border-top: 1px solid #5b667d;border-bottom: 1px solid #5b667d;margin: 34px 25px;}
.nav a.current:hover{border-color:#55c2b9 }
.nav .nav_closed{width: 50px;height: 50px;position: absolute;right: 25px;top: 25px;cursor: pointer;transition:All 0.5s ease-in-out; -webkit-transition:All 0.5s ease-in-out;  -moz-transition:All 0.5s ease-in-out;  -o-transition:All 0.5s ease-in-out;background:url(../img/nav_close.jpg) no-repeat}
.nav .nav_closed:hover{transform:rotate(360deg); -webkit-transform:rotate(360deg);  -moz-transform:rotate(360deg);  -o-transform:rotate(360deg); -ms-transform:rotate(360deg);  }
.main_box h1.tit{font-size: 36px;font-weight: 600;padding-top: 220px;}
p.sum{margin-top: 10px;}
.main_box .btn_white{width: 135px;height: 45px;margin-top: 30px;}
.main_box_info{margin-top: 100px;}
.main_box_info li{display: inline;font-size: 18px;margin: 0 20px;padding-left: 15px;position: relative}
.main_box_info li:before{width: 8px;height: 8px;background: #fff;border-radius: 50%;left: 0;top: 50%;margin-top: -4px;}
.icon_mouse{position: absolute;left:50%;top: 620px;margin-left:-11px;width: 22px;height: 36px;background-position: 0 -60px;}

.gene_box{height: 510px;}
.gene_box h2.tit{width: 161px;height: 22px;background: url("../img/title.png") 0 0 no-repeat;margin: 25px auto;text-indent: -9999px;}
.gene_box_list{margin: 120px 80px;}
.gene_box_list li{width:50%;height:78px;float:left;margin:30px 0;position: relative;background: url("../img/gene2.png") 125px 0 no-repeat}
.gene_box_list .icon_2{background-position: 125px -78px}
.gene_box_list .icon_3{background-position: 125px -156px}
.gene_box_list .icon_4{background-position: 125px -234px}
.gene_box_list li p{margin:10px 0 0 220px;font-size: 18px;line-height: 30px;color: #39404d;}

.project_box{height: 768px;background: url("../img/bg_2.jpg") no-repeat top center;position: relative}
.project_box_flip{height: 768px;position: relative}
.project_box_info{margin: 10px 40px 25px;}
.project_box_info dt{margin-top: 15px;padding-left: 10px;color: #fff;font-size: 16px;position: relative}
.project_box_info dt:before{width: 5px;height: 5px;border-radius: 50%;background: #fff;left: 0;top: 10px;}
.project_box_info dd{color: #c9c9c9;padding-left: 10px;}
.project_box_btn{margin: 10px 75px;text-align: center}
.project_box_btn .btn_white{width: 135px;height: 40px;float: left;}
.project_box_btn .btn_green{width: 135px;height: 40px;float: right}
.project_box_btn .btn_green2{width: 135px;height: 42px;margin: 0 12px}
.project_box_buy{text-align: center;margin-top: 40px}
.project_box_buy h4.tit{font-size: 18px;color: #fff;}
.project_box_buy h4.tit span{color: #cecece;}
.project_box_buy p{color:#d6d6d6;margin-top: 10px}
.project_box_buy .qrcode{width: 91px;height: 91px;background-position: 0 0;display: inline-block;margin: 15px 0 40px}
.project_box_tips{width: 580px;height: 470px; position: absolute;background:url(../img/shadow2.png) repeat;left: 50%;margin:149px 0 0 -290px;z-index: 40}
.project_box_tips h3.tit{text-align: center;color: #fff;margin-top: 30px;font-size: 32px;}
.project_box_tips .tips_closed{width:35px;height:35px;position: absolute;top: 20px;right: 20px;background:url(../img/close.gif) no-repeat}

.sampling_box{margin-top: 8px;height: 600px;position: relative;background: url("/tpl/Home/lanrain/common/images/indexn/jiating1.jpg") no-repeat top center;;position: relative}
.sampling_box_txt{position: absolute;left: 160px;top: 0;right: 550px;bottom: 0;}
.sampling_box h2.tit{font-size: 40px;text-align: center;margin-top: 260px;color:#006939}
.sampling_box p{text-align: center;margin-top: 25px;font-size: 18px;}
.sampling_box p span{font-size: 24px;}

.report_box{margin-top: 8px;height: 600px;position: relative;background: url("/tpl/Home/lanrain/common/images/indexn/jiating3.jpg") no-repeat top center;}
.jt{background: url("/tpl/Home/lanrain/common/images/indexn/jiating4.jpg") no-repeat top center;position: relative;}
.report_box_txt{;text-align:center;}
.report_box h2{font-size: 36px;margin-top: 0px}
.report_box p{margin-top: 25px;font-size: 18px;}
.report_box .btn_green{width: 135px;height: 44px;display: block;margin: 25px auto 0;font-size: 16px}
.report_box .qrcode{width: 93px;height: 93px;background-position: 0 -100px;display: block;margin: 0 auto;}
.report_box h2.tit{font-size: 36px;padding-top: 260px;}
.dietician_box{margin-top: 8px;height: 600px;background-size: 100%;background: url("/tpl/Home/lanrain/common/images/indexn/jiating2.jpg") no-repeat top center;;position: relative;}
.dietician_box_txt{position: absolute;left: 550px;top: 0;right: 200px;bottom: 0;}
.dietician_box_txt{text-align: center;}
.dietician_box .qrcode{width:82px;height:82px;display:inline-block;background-position: 0 -210px;margin-top:45px;}
.dietician_box h2.tit{font-size: 36px;margin-top: 260px;}
.dietician_box p{margin-top: 15px;font-size: 18px;}
.dietician_box .btn_green{width: 135px;height: 42px;border-radius: 0;margin-top: 25px;font-size:16px;}

.procedure_box{height: 506px;text-align: center;}
.procedure_box h2.tit{width: 188px;height: 36px;background-position: 0 -30px;display: inline-block;margin-top: 84px;}
.procedure_box_list{width:920px;margin:95px 0 0 30px;border-top: 1px dashed #33383f;display: table;}
.procedure_box_list li{position:relative;width: 80px;background-color:#fff;float:left;margin-right:60px;;top:-32px;font-size: 12px}
.procedure_box_list .last{margin-right:0}
.procedure_box_list li i{width:50px;height:50px;display:inline-block;margin:0 auto;background: url("../img/procedure.png") no-repeat}
.procedure_box_list li i.icon_1{background-position: 0 0}
.procedure_box_list li i.icon_2{background-position: -50px 0}
.procedure_box_list li i.icon_3{background-position: -100px 0}
.procedure_box_list li i.icon_4{background-position: -150px 0}
.procedure_box_list li i.icon_5{background-position: -200px 0}
.procedure_box_list li i.icon_6{background-position: -250px 0}
.procedure_box_list li i.icon_7{background-position: -300px 0}
.procedure_box_dl{width: 320px;height: 95px;border: 1px solid #5b667d;_padding-right:30px;border-radius: 10px;color: #5b667d;display: inline-block;margin-top: 80px;}
.procedure_box_dl dt{line-height: 95px;font-size: 60px;float: left;font-family: verdana, arial, helvetica, sans-serif;font-weight: 200;margin-left: 30px}
.procedure_box_dl dd{margin: 15px 0;font-size: 24px;text-align: left;padding-left: 175px}

.exprets_box{position:relative;height: 473px;background:url(../img/bg_line.jpg) repeat-x;overflow: hidden; }
.exprets_box h2.tit{width: 158px;height: 37px;display: block;margin: 41px auto 0;background-position: 0 -70px;}
.exprets_box_doct{margin: 31px 47px 0;}
.exprets_box_doct li{width:280px;height:365px;float: left;margin: 0 15px;background: url("../img/experts2.png") no-repeat;color: #fff;position: relative;cursor: pointer}
.exprets_box_doct li.doct_1{background-position: 37px 0}
.exprets_box_doct li.doct_2{background-position: -270px 0}
.exprets_box_doct li.doct_3{background-position: -572px 0}
.exprets_box_name{position: absolute;left: 195px;top: 55px;}
.exprets_box_name dt{width: 65px;border-bottom: 1px solid #fff;font-size: 16px;line-height: 30px;}
.exprets_box_name dd{font-size: 12px;margin-top: 5px;white-space:nowrap;}
.exprets_box_info{height:173px;line-height:18px;background:url(../img/shadow1.png) repeat;position: absolute;left: 0;right: 0;bottom:0;padding: 20px 30px;font-size: 12px;}
.exprets_box_info span{display:block;width:63px;border-bottom:1px solid #FFF}
.exprets_box_info p{height:126px;margin-top:10px}

.background_box{height: 624px;overflow: hidden;position: relative;}
.background_box h2.tit{width: 218px;height: 38px;display: block;margin: 90px auto 0;background-position: 0 -110px}
.background_box_info{margin: 110px 12px 0;overflow: hidden}
.background_box_info li{padding: 0 30px;width: 190px;height:105px;float: left;border-left: 1px solid #5b667d;margin-left: -1px}
.background_box_info li strong{font-size: 18px;display: block;margin-bottom: 5px}
.background_box_logo{margin: 60px 37px 0;overflow: hidden}
.background_box_logo a{width:65px;height:65px;float:left;margin:10px 15px;background: url("../img/background_logo.png") no-repeat}
.background_box_logo a.logo_1{background-position: 0 0;}
.background_box_logo a.logo_2{background-position: -65px 0;}
.background_box_logo a.logo_3{background-position: -130px 0;}
.background_box_logo a.logo_4{background-position: -195px 0;}
.background_box_logo a.logo_5{background-position: -260px 0;}
.background_box_logo a.logo_6{background-position: -325px 0;}
.background_box_logo a.logo_7{background-position: -390px 0;}
.background_box_logo a.logo_8{background-position: -455px 0;}
.background_box_logo a.logo_9{background-position: -520px 0;}
.background_box_logo a.logo_10{background-position: -585px 0;}
.background_box_logo a.logo_11{background-position: -65px -65px;}
.background_box_logo a.logo_12{background-position: -130px -65px;}
.background_box_logo a.logo_13{background-position: -195px -65px;}
.background_box_logo a.logo_14{background-position: -260px -65px;}
.background_box_logo a.logo_15{background-position: -325px -65px;}
.background_box_logo a.logo_16{background-position: -390px -65px;}

.page_top{position: absolute;right: 25px;bottom:20px;width: 60px;height: 60px;background:url(../img/top.jpg) no-repeat}

.contact_box{height: 373px;background: #474c52;overflow: hidden}
.contact_box h2.tit{width: 158px;height: 41px;background-position: 0 -150px;display: block;margin: 50px auto 0;}
.contact_box_title{margin: 60px 55px 0;color: #fff;font-size: 18px;}
.contact_box_title span{margin-right: 30px;position: relative;  }
.contact_box_title span.phone{padding-left: 34px;}
.contact_box_title span.phone:before{width: 24px;height: 34px;background-position: 0 -25px;left:0;top: 50%;margin-top: -17px }
.contact_box_title span.mail{padding-left: 45px;}
.contact_box_title span.mail:before{width: 35px;height: 24px;background-position: 0 0;left: 0;top: 50%;margin-top: -12px;}
.contact_box_social{float: right;}
.contact_box_social li{width: 44px;height: 43px; float: left;margin-left: 25px;background:url(../img/circle.png) no-repeat}
.contact_box_social .weibo{background-position:-44px 0}
.contact_box_social .qq{background-position:-88px 0}
.contact_box_about{margin: 40px 55px 0;border-top: 1px solid #acacac;padding-top: 20px;}
.contact_box_about p{line-height: 30px;font-size: 12px;}
.contact_box_about label{margin-right: 20px;color: #fff;}
.contact_box_about a{color: #c0c0c0;margin-right: 10px}
.contact_box_about .copyright{color: #858585;text-align: right;margin-top: -30px}

.top_todo{position:absolute;width:100%;height:347px;top:0;left:0;z-index:1}
.contbox{position:relative;z-index:2}
.mkcode{display:inline-block;width:82px;padding-top:237px}
.mkcode.m2{padding-top:140px}
.mkcode .qrcode{display:none;float:left;margin-top:0}
.quickFlip3 .project_box_tips{width:800px;height:634px;margin:66px 0 0 -400px}
.litb{color:#FFF;padding:36px 100px}
.litb .roll{height:528px;overflow-y:auto}
.litb .title{height:34px;line-height:34px;font-weight:bold;color:#000;text-align:center;background-color:#55C2B9}
.litb .title span{float:left}
.litb .title .t1{width:247px}
.litb .title .t2{width:353px}
.litb table{width:100%;line-height:22px;border-collapse:collapse;border-spacing:0;-webkit-box-sizing:border-box;box-sizing:border-box}
.litb td{position:relative;padding:10px 25px 10px 25px;border:1px solid #696E74}
.litb table p{float:left}
.litb table span{color:#55C2B9;padding-left:5px}
.litb table .fs{position:absolute;top:50%;margin-top:-11px}
