@charset "utf-8";


.color_6e ,.color_6e a{ color:#6E6E6E;}
.display_no{display:none;}
.display_yes{display:block;}
.layout{ width:1000px; margin:0 auto}
.fl{ float: left;}
.fr{ float: right;}



.hs_banner{  overflow:hidden; height:398px; margin: 0 auto; width:100%; background:#72daa9}
.banner_box{ position:relative; z-index:1}
.bg_box{ position:absolute; background:url("http://www.cstrong.cn/Content/images/bdbg2.png") repeat-x; height:10px; width:1000px; left:0; bottom:6px;z-index:9999;*bottom:0px;_bottom:-6px;}
.text{text-align: left;top: 200px;left: 10px;position: absolute;z-index: 3;}
.text h4 {color: #2A2A2A;font: 20px/28px "微软雅黑", "黑体";}
.text h4 font {margin-right: 5px;letter-spacing: 2px;color: #1380C5;}
.text .start {display: block;width: 273px;height: 73px;margin: 30px 0 0 20px;background: url("http://www.cstrong.cn/Content/images/fl.png") no-repeat;}
 .v_main1{ overflow:hidden;padding-top:25px; background:#fff;}
 .v_box1{ width:1000px; overflow:hidden; margin-top:10px;}
.v_box1_l{ float:left; overflow:hidden; width:495px; padding-left:15px;}
.v_box1 span{ display:block;}
.v_box1_r{ float:right; overflow:hidden; padding-right:30px;}
.V_span1{ font-family:"微软雅黑"; color:#434343; font-size:14px; padding-top:20px; padding-bottom:45px; overflow:hidden;}
.v_box2{ width:1000px; overflow:hidden; margin-top:10px;}
.v_box2_title{ width:1000px; overflow:hidden;}
.v_box2_con{ width:1000px; overflow:hidden; margin-top:20px;}
.v_box2_con_l{ float:left; overflow:hidden; padding-left:35px;}
.v_box2_con_r{ float:right; overflow:hidden; margin-right:15px; width:400px;}
.v_box2_con_r span{ display:block; padding-bottom:23px;} 
.v_box2_con_r span b{ display:block; padding-bottom:10px;} 

.v_box2_con_r_0{ float:right; overflow:hidden; margin-right:15px; width:450px;}
.v_box2_con_r_0 span{ display:block; padding-bottom:23px; margin-top:50px; line-height:30px;} 
.v_box2_con_r_0 span b{ display:block; padding-bottom:10px;} 


.v_box2_con1{ background:url("http://www.cstrong.cn/Content/images/v_new_bg_03.jpg") no-repeat; height:434px; overflow:hidden; position:relative;}
.v_box2_con2{ background:url("http://www.cstrong.cn/Content/images/v_new_bg_06.jpg") no-repeat; height:462px; overflow:hidden; position:relative;}
.vyoushi_con{ position:absolute; left:570px; top:55px;}
.vyoushi_con span{ display:block;font-family:"微软雅黑"; color:#434343; width:380px; font-size:14px; line-height:20px; overflow:hidden;} 
.vyoushi1_con{ position:absolute; left:120px; overflow:hidden; top:80px;}
.vyoushi1_con span{ display:block;font-family:"微软雅黑"; color:#434343; width:380px; font-size:14px; line-height:20px; overflow:hidden;} 
.v_btn1{ position:absolute; overflow:hidden; bottom:42px; left:400px; }
.v_ljgd{ background:url("http://www.cstrong.cn/Content/images/V_index_30.jpg") no-repeat center bottom; margin-top:20px; width:1000px; overflow:hidden; text-align:center; font-size:14px; height:33px; padding-top:3px;}
.v_ljgd a{ text-decoration:none;}
.box3{ background:url("http://www.cstrong.cn/Content/images/box3_bg.jpg") repeat; padding-top:35px; overflow:hidden; height:275px; margin-top:15px;}
.box3_c{ margin: 0 auto; overflow:hidden; width:1000px;}
.box3_l{ float:left; overflow:hidden;}
.box3_m{ float:left; overflow:hidden; margin-left:5px; background:url("http://www.cstrong.cn/Content/images/v_box3_06.png") no-repeat; width:692px; height:242px;}
.box3_r{ float:left; overflow:hidden; margin-left:5px; background:url("http://www.cstrong.cn/Content/images/v_box3_08.png") no-repeat; width:220px; height:242px;}
.box3_title{ padding-top:10px; width:650px; padding-left:30px;}
.box3_con{ width:680px; padding-left:12px; overflow:hidden;}
.box3_con ul li{ float:left; overflow:hidden; margin-left:20px; margin-right:10px; width:140px;} 
.box3_con ul li em{ float:left; padding-left:15px; background:url("http://www.cstrong.cn/Content/images/v_box3_20.jpg") no-repeat 2px 8px;}
.box3_em1{ float:right; overflow:hidden; line-height:40px;}
.box3_r_con{ float:left; overflow:hidden; width:180px; padding-left:20px; padding-right:20px; padding-top:50px;}
.box3_r_con ul li{ overflow:hidden; line-height:25px; border-bottom:1px dotted #CCC; background:url("http://www.cstrong.cn/Content/images/kdt_in1_50.jpg") no-repeat 3px 10px; padding-left:15px;}



.title_pic {line-height: 35PX;display: block;color: #ec7400;font-size: 24px;height: 35px;font-weight: bold;font-family: Microsoft YaHei;text-align: left;padding-top: 30px;}

.list_carousel {position:relative;width: 960px;margin:10px auto;}
.caroufredsel_wrapper{width:960px!important;}
.list_carousel ul {margin: 0;padding: 0;list-style: none;display: block;}
.list_carousel li {font-size: 40px;color: #999;text-align: center;width: 240px;height:280px;padding: 0;display: block;float: left;}
.list_carousel li a{display:block;width:160px;margin:auto;position:relative;box-shadow:0 10px 5px rgba(0,0,0,.3); border-top:1px solid #ececec; border-radius:5px 5px 0 0; _background:url("http://www.cstrong.cn/Content/images/case-bg.png") 0 bottom no-repeat;}
.list_carousel li a:after{position:absolute;bottom:-29px;left:0;overflow:hidden;background:#f7f7f7;width:100%;height:15px;content:'';border-radius:50%;box-shadow:0 -10px 3px #f7f7f7;}
.list_carousel li img{width:150px;height:230px;margin:5px auto; display:inline;}
.list_carousel.responsive {width: auto;margin-left: 0;}
.prev, .next{display:inline-block;width:28px;height:50px;position:absolute;	top:50%;margin-top:-50px;z-index:100;background:url("http://www.cstrong.cn/Content/images/weimob.png") no-repeat 0 center;left:-20px;}
.prev{background-position:0 -305px;}
.next {left:auto;right:-20px;background-position:-30px -305px;}


